.container{
  background: rgb(34, 34, 34);
}

.cabecalho{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 300px;
  background-color: #353535;
}

.img-perfil{
  object-fit: cover;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin-top: 15px;
}

.titulos{
  line-height: 25px;
  text-align: center;
}

.titulo{
  font-family: 'Poppinsbold',sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin-top: 10px;
}

.subtitulo{
  font-family: 'Poppinsregular',sans-serif;
  font-size: 16px;
}

.caixa-principal-formacao-contatos{
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.caixa-principal-formacao{
  display: flex;
  flex-direction: column;
}

.caixa-principal-redes{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.caixa-principal-rede img{
  width: 30px;
  height: 30px;
}

.caixa-principal-rede img:hover{
  box-shadow: #FFFFFF 1px 1px 5px;
}

.menu{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
  gap: 26px;
}

.menu a{
  text-decoration: none;
}

.menu a:hover{
  color: #000000;
}

.caixa-frase{
  height: 150px;
  background-color: #183242;
}

.caixa-frase-paragrafo{
  font-family: 'Poppinsbold', sans-serif;
  font-size: 30px;
  text-align: center;
  line-height: 35px;
  font-weight: 400;
  padding-top: 20px;
}

.caixa-frase-paragrafo:hover{
  color: #000000;
}

/* #nome, h2, h3{
  color: black;
  text-align: center;
}

h3{
  color: black;
}

h2 h3{
  font-family: poppinsmedium;
}

p{
  font-family: poppinslight;
}

img{
  object-fit: cover;
}
.img img{
  position: relative;
  left: 135px;
  border: 2px solid black;
  border-radius: 80px;
  width: 150px;
  height: 150px;
}

.box_1{
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  border: 2px black solid;
  margin: 5px;
  width: 540px;
}

.box_2{
  background: rgb(132, 14, 201);
  padding: 10px;
  border-radius: 5px;
  border: 2px black solid;
  margin: 5px 0px 0px 0px;
  width: 800px;
  height: 985px;
}

.redes_sociais li, a{
  display: inline-flex;
  justify-content: center;
  
  margin: 10px;
  width: 60px;
  height: 60px;
}

#contatos li{
  display: inline-flex;
  justify-items: center;

  color: black;
  text-align: center;
  margin: 5px;
}
#nome, #contatos{
  line-height: 10px;
}

#educacao li{
  display: inline-flex;

  color: black;
  text-align: center;
}

.skills_app li{
  display: inline-flex;
  
  margin: 10px;
  width: 60px;
  height: 60px;
}
.skills_app img{
  position: relative;
  left: 30px;
}


.experiencias p{
  padding: 20px;
  line-height: 18px;
}
.experiencias h2, h3{
  line-height: 20px;
}

p:hover{
  background-color: rgb(0,0 ,0, 0.3);
  border-radius: 10px;
} */