@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root{
  --color-cards: #1f1f1f;
  --color-cinza:#c3c3c3;
  --color-dourado:#d3ad7f;
}

.container {
  font-family: "Poppins", sans-serif;
}

.cabecalho {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 300px;
  
}

.img-perfil {
  object-fit: cover;
  border-radius: 50%;
  width: 190px;
  height: 190px;
  margin-top: 15px;
}

.titulos {
  line-height: 25px;
  text-align: center;
}

.titulo-cabecalho {
  font-family: 'Poppins',sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
}

.subtitulo-cabecalho {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.caixa-principal-formacao {
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.caixa-principal-formacao-contatos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: right;
  /* gap: 200px; */
}

.caixa-principal-contatos {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.caixa-contato-tel > img {
  width: 20px;
  height: auto;
}

.caixa-contato-email > img {
  width: 20px;
  height: auto;
}

.caixa-principal-redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.caixa-principal-rede img {
  width: 30px;
  height: 30px;
  margin-bottom: 15px;
}

.caixa-principal-rede img:hover {
  filter: drop-shadow(1px 1px 3px #FFFFFF);
  transition: linear 0.2s;
}

.menu {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
  gap: 26px;
  font-weight: 500;
}

.menu a {
  text-decoration: none;
}

.menu a:hover {
  color: #d3ad7f;
  transition: linear 0.2s;
}

.cabecalho .img-cabecalho {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:cover;
  z-index: -1;
}


/*Caixa frase*/
.caixa-frase {
  height: 150px;
  background-color: #183242;
  margin-bottom: 30px;
}

.caixa-frase-paragrafo {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  text-align: center;
  line-height: 35px;
  font-weight: 700;
  padding-top: 20px;
}

.caixa-frase-paragrafo:hover {
  color: #000000;
}


/* Pagina Serviços */
#servicos .titulo {
  color: #FFFFFF;
}

#servicos span {
  color: #d3ad7f;
}

.servicos {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding: 1rem 1rem;
  margin-bottom: 30px;
}

.destaques-servicos {
  margin-left: 1.5rem;
}

.destaques-servicos h3 {
  font-size: 4rem;
  line-height: 60px;
  margin-bottom: 20px;
}

#paragrafo-1 {
  width: 400px;
  font-size: 2rem;
  line-height: 35px;
  margin-bottom: 20px;
}

.destaques-btn {
  width: 250px;
  height: 40px;
  font-size: 1rem;
  border: none;
  background-color: var(--color-dourado);
  border-radius: 5px;
  cursor: pointer;
  scroll-behavior: smooth;
  transition: .3s;
}

#espaco {
  width: 100%;
  height: 200px;
}

.destaques-servicos h4 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.destaques-artigos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 20px;
  margin-right: 1rem;
}

.destaques-artigos article {
  width: 400px;
  margin-bottom: 30px;
}

.destaques-artigos h2 {
  font-size: 2rem;
  line-height: 35px;
  margin-bottom: 10px;
}

#paragrafo-2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.sites {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 500;
  transition: .2s;
  cursor: pointer;
}

.sites:hover p {
  letter-spacing: 2px;
  background-color: var(--color-dourado);
  border-radius: 5px;
}

#btn-orcamento {
  font-size: 1rem;
}

.servicos-caixa {
  width: 400px;
  padding: 0.5rem;
  border: 1px solid #FFF;
  border-radius: 5px;
  max-height: 250px;
  overflow: auto;
  transition: all 0.3s ease-in;
  cursor: pointer;
  background-color: var(--color-cards);
  line-height: 18px;
  margin-top: 30px;
}

.servicos-caixa:hover {
  background-color: #FFFFFF;
}

.servicos-caixa:hover>* {
  color: #353535;
}

.servicos-caixa>h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.servicos-caixa>p {
  color: #FFFFFF;
  text-align: justify;
}


/* Pagina Sobre */
.sobre {
  color: #F4E9E0;
  padding: 0 1rem;
}

.sobre .titulo {
  color: #FFFFFF;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.sobre .titulo span {
  color: #d3ad7f;
}

.sobre p {
  text-align: justify;
}


/*Pagina projetos*/
.projetos .titulo {
  color: #FFFFFF;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.projetos span {
  color: #d3ad7f;
}

.caixa {
  display: flex;
  flex-direction: row;
  padding: 1rem 1rem;
  gap: 2rem;
}

.img-caixa {
  width: auto;
}

#img-rota66 {
  width: 250px;
  height: 370px;
}

#img-cardapio {
  width: 350px;
  height: 300px;
}

#img-cafeteria {
  width: 250px;
  height: auto;
}

.caixa .caixa-textos p {
  text-align: justify;
}

.caixa .caixa-textos .titulo-caixa {
  font-size: 2rem;
  text-transform: uppercase;
}

.caixa .caixa-textos {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.caixa .img-caixa {
  height: 250px;
}

.caixa-textos .ancora-caixa {
  color: #000;
  background-color: #d3ad7f;
  width: fit-content;
  border-radius: 2px;
  padding: 2px;
}

.caixa-textos .ancora-caixa:hover {
  color: #000000;
  background-color: #FFFFFF;
}

/*Pagina curriculo*/
.titulo {
  color: #FFFFFF;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.curriculo span {
  color: #d3ad7f;
}

.caixa {
  display: flex;
  flex-direction: row;
}

.img-caixa {
  height: 250px;
}

.btn {
  background-color: #d3ad7f;
  border: none;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  color: #353535;
  background-color: #FFFFFF;
}

/* .btn a{
  text-transform: uppercase;
  color: #353535;
  font-size: 1.5rem;
}
.btn a:hover{
  color: #353535;
} */


/*Pagina skill*/
.skill {
  padding: 1rem 1rem;
}

#skill-titulo {
  color: #d3ad7f;
}

.subtitulo-skill {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.skill-caixa p {
  text-align: justify;
}

.btn-voltar>img {
  position: fixed;
  bottom: 4px;
  right: 15px;
}