.container{
  display: flex; /* Vai identificar que a minha tag vai ser o elemento container */
  flex-direction: row; /* vai me dizer qual é a direção do meu eixo principal */
  justify-content: center; /* vai alinhar os elementos no eixo principal */
  /*align-items: center; /* Alinhar os elementos no eixo perpendicular */
  /*flex-wrap: wrap; Vai jogar os elementos para a linha de baixo */
  /*flex-flow: ; Identificar se quero o flex-direction e o flex-wrap de uma vez só*/
  align-content: center; /* Quando já tem o flex-wrap e quero alinha no eixo perpendicular a linhas*/
  row-gap: 10px; /* gap, row-gap, column é para fixar tamanho no espaço entre os elementos*/
  column-gap: 30px;
  /*align-items: stretch; /* Alinhar os elementos no eixo perpendicular */
  /*flex-basis: auto; /*Vai definir o tamanho dos elementos tanto em largura quanto em altura.*/

  height: 600px;
  background: orange;
  padding: 16px;
}

.box_1{
  background: greenyellow;
  padding: 10px;
  border-radius: 5px;
  border: 2px black solid;
  margin: 5px;
  width: 500px;
}

.box_2{
  background: rebeccapurple;
  padding: 10px;
  border-radius: 5px;
  border: 2px black solid;
  margin: 5px;
  width: 800px;
}