/* Responsividade celular */
:root{
    --color-cards: #1f1f1f;
    --color-cinza:#c3c3c3;
    --color-dourado:#d3ad7f;
  }

@media (max-width: 490px){
    .container{
        position: relative;
    }

    .caixa-principal-formacao {
        width: 100%;
        text-align: center;
        line-height: 18px;
        margin-bottom: 15px;
    }
    
    .caixa-principal-formacao-paragrafo {
        padding: 5px;
    }

    .caixa-principal-formacao-contatos {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        line-height: 18px;
        text-align: center;
        margin-bottom: 20px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        font-size: 0.8rem;
        text-transform: uppercase;
        gap: 10px;
        font-weight: 500;
        line-height: 15px;
    }
    
    .caixa-frase {
        height: 160px;
        background-color: #183242;
        padding: 0 5px;
    }

    .caixa-frase-paragrafo {
        font-size: 1.5rem;
        text-align: center;
        line-height: 25px;
        font-weight: 700;
    }

    .titulo {
        line-height: 45px;
        margin-top:20px;
    }

    #espaco {
        max-width: 100%;
    }

    /* serviços, seção serviços sites*/
    .destaques-servicos > h3 {
        margin-top: 25px;
    }

    .destaques-servicos > h4 {
        line-height: 35px;
        padding-right: 1rem;
    }

    .destaques-artigos {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        
    }

    .destaques-artigos article > h2 {
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .destaques-artigos article p > span {
        color: var(--color-dourado);
    }

    #paragrafo-1 {
        width: 100%;
    }

    .destaques-servicos #paragrafo-2 {
        line-height: 30px;
        margin-right: 1rem;
        margin-bottom: 15px;
    }

    .sites {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }

    /* .destaques-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    .servicos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 1rem 1rem;
        margin-bottom: 30px;
    }

    .servicos-caixa {
        width: 100%;
        height: 200px;
        padding: 0.5rem;
        border: 1px solid #FFF;
        overflow: auto;
        transition: all 0.3s ease-in;
        cursor: pointer;
        line-height: 18px;
        border-radius: 3px;
        background-color: var(--color-cards);
    }

    .curriculo-caixa {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .paragrafo-caixa {
        line-height: 18px;
    }
    
    .caixa .caixa-textos .titulo-caixa {
        font-size: 1rem;
        text-align: justify;
        line-height: 18px;

    }

    .curriculo-caixa .img-caixa {
        width: 50%;
        height: auto;

    }

    .btn {
        width: 100px;
        height: 60px;
    }
    .caixa-textos .ancora-caixa {
        line-height: 18px;
    }

    .btn-voltar>img {
        position:fixed;
        top: 490px;
        right: 50px;
        width: 30px;
        height: auto;
    }

    .projetos .caixa {
        display: flex;
        flex-direction: column;
    }

    .caixa .img-caixa {
        display: flex;
        align-items: center;
    }

    .caixa p {
        line-height: 30px;
    }
}